DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ALLOWED_ORIGINS=http://localhost:5173
NODE_ENV=development
PORT=5000

TENANT_TEMPLATE_DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require&channel_binding=require
#TENANT_E2E_DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require&channel_binding=require

NEON_API_KEY=your_neon_api_key_here
REDIS_URL=redis://default:password@host:6379
INTERNAL_API_KEY=your_internal_api_key_here
GROQ_API_KEY=your_groq_api_key_here
